*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
    background-color: rgb(225, 178, 243);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    background-color: rgb(231, 227, 227);
    box-shadow: 0 0 10px 0px rgb(75, 69, 69);;
    align-items: center;
    text-align: center;
    padding: 0px;
}
.logo{ 
    width: 50px;
    margin-left: 100px;
    padding-bottom: 0;
}
nav{
    flex: 1;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    font-weight: bold;
    margin-right: 50px;
}
nav ul li a:hover{
    color: #0011ff;
    border-bottom: 3px solid orange;
}
nav img{
    opacity: 0;
    width: 20px;
    height: 20px;
}
a{
    text-decoration: none;
    color: black;
}
p{
    color: rgb(168, 163, 163);;
}
/*-------- media query for menu --------*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 0;
        left: 200px;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        opacity: 0.6;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: black;
    }
    .menu-icon{
        display: inline-block;
        margin-left: 50px;
        cursor: pointer;
        opacity: 1;
    }
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    margin-top: 120px;
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    font-weight: bolder;
    line-height: 60px;
    margin: 25px 0;
    color: black;
}
.col-2 p{
    margin: 25px 5px;
    font-weight: lighter;
    color: rgb(58, 56, 56);
}
.container-feature{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background: linear-gradient(190deg, #b8e97d 50%, #07aa91 50%);
}
.col-2-feature{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2-feature img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2-feature #feature2{
    max-width: 100%;
    margin-left: 200px;
    padding: 50px 0;
}
@media only screen and (max-width: 800px){
    .container-feature{
        max-width: 1300px;
        background: linear-gradient(180deg, #b8e97d 48%, #07aa91 48%);;
    }
    .col-2-feature #feature2{
        max-width: 100%;
        margin-left: auto;
        padding: 50px 0;
    }
}
.col-2-feature h1{
    font-size: 50px;
    font-weight: bolder;
    line-height: 60px;
    margin: 25px 0;
    color: black;
}
.col-2-feature p{
    margin: 25px 5px;
    font-weight: lighter;
    color: rgb(58, 56, 56);
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 10px;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.col-3{
    border-top: none;
    border-bottom: none;
    flex-basis: 30%;
    min-width: 340px;
    margin-top: 5px;
}
.col-3 img{
    width: 100%;
}
.aboutus{
    padding-top: 100px;
    margin-bottom: 30px;
}
.small-container{
    max-width: 1200px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.aboutus .col-3{
    background-color: #222;
    text-align: center;
    padding: 40px 20px;
    background-color: rgb(206, 159, 147);
    box-shadow: 0 0 10px 0px rgb(75, 69, 69);;
    cursor: pointer;
    transition: transform 0.5s;
}
.aboutus .col-3 img{
    width: 120px;
    margin-bottom: 20px;
    border-radius: 50%;
}
.aboutus .col-3:hover{
    z-index: -500;
    transform: translateY(-10px);
}
.aboutus .col-3 p{
    font-size: 16px;
    margin: 12px 0;
    color: rgb(58, 56, 56);
}
.aboutus .col-3 h3{
    font-weight: 600;
    color: white;
    font-size: 22px;
}
aside{
    flex-basis: 50%;
    width: 400px;
    margin: auto;
    background-color: rgb(206, 159, 147);
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgb(75, 69, 69);
    cursor: pointer;
    transition: transform 0.5s;
}
aside h1{
    color: white;
    font-size: 30px;
}
aside img{
    width: 120px;
    margin-top: 20px;
    border-radius: 50%;
}
aside:hover{
    transform: translateY(-10px);
}
aside article{
    margin: 50px;
}
aside h3{
    font-weight: bolder;
    color: white;
    font-size: 22px;
}
aside span{
    font-size: 16px;
    font-weight: 700;
    margin: 12px 0;
    color: rgb(58, 56, 56);
    text-align: center;
}

footer{
    background-color: black;
    margin-top: 30px;
    padding-top: 10px;
}
.copyright{
    color: white;
    text-align: center;
    line-height: 70px;
}