*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: rgba(225, 178, 243, 0.856);
}
header{
    display: flex;
    background-color: white;
    align-items: center;
    text-align: center;
    padding: 0px;
}
.logo{ 
    width: 50px;
    margin-left: 100px;
    padding-bottom: 0;
}
nav{
    flex: 1;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    font-weight: bold;
    margin-right: 50px;
}
nav ul li a:hover{
    color: #0011ff;
    border-bottom: 3px solid orange;
}
nav img{
    opacity: 0;
    width: 20px;
    height: 20px;
}
a{
    text-decoration: none;
    color: black;
}
p{
    color: black;
}
/*-------- media query for menu --------*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 0;
        left: 200px;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        opacity: 0.6;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: black;
    }
    .menu-icon{
        display: inline-block;
        margin-left: 50px;
        cursor: pointer;
        opacity: 1;
    }
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    font-weight: bolder;
    line-height: 60px;
    margin: 25px 0;
    color: black;
}
.col-2 p{
    margin: 25px 5px;
    font-weight: lighter;
    color: rgb(21, 6, 230);
}
.container-feature{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background: linear-gradient(200deg, #a2ea4c 800px, #07aa91 300px, #07aa91);
}
}
.col-2-feature{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2-feature img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2-feature #feature2{
    max-width: 100%;
    margin-left: 200px;
    padding: 50px 0;
}
@media only screen and (max-width: 1300px){
    .container-feature{
        max-width: 1300px;
        background: linear-gradient(180deg, #a2ea4c 580px, #07aa91 300px, #07aa91);
    }
}
@media only screen and (max-width: 860px){
    .container-feature{
        max-width: 1300px;
        background: linear-gradient(180deg, #a2ea4c 600px, #07aa91 300px, #07aa91);
    }
}
@media only screen and (max-width: 820px){
    .container-feature{
        margin: auto;
        max-width: 1300px;
        background: linear-gradient(180deg, #a2ea4c 600px, #07aa91 300px, #07aa91);
    }
}
@media only screen and (max-width: 800px){
    .container-feature{
        max-width: 1300px;
        background: linear-gradient(180deg, #a2ea4c 600px, #07aa91 300px, #07aa91);
    }
    .col-2-feature #feature2{
        max-width: 100%;
        margin-left: auto;
        padding: 50px 0;
    }
}
@media only screen and (max-width: 600px){
    .container-feature{
        margin: auto;
        max-width: 1300px;
        background: linear-gradient(180deg, #a2ea4c 660px, #07aa91 300px, #07aa91);
    }
}
@media only screen and (max-width: 591px){
    .container-feature{
        margin: auto;
        max-width: 1300px;
        background: linear-gradient(180deg, #a2ea4c 600px, #07aa91 300px, #07aa91);
    }
}
@media only screen and (max-width: 561px){
    .container-feature{
        margin: auto;
        max-width: 1300px;
        background: linear-gradient(180deg, #a2ea4c 660px, #07aa91 300px, #07aa91);
    }
}
.col-2-feature h1{
    font-size: 50px;
    font-weight: bolder;
    line-height: 60px;
    margin: 25px 0;
    color: black;
}
.col-2-feature p{
    margin: 25px 5px;
    font-weight: lighter;
    color: rgb(21, 6, 230);
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 10px;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.col-3{
    border-top: none;
    border-bottom: none;
    flex-basis: 30%;
    min-width: 340px;
    margin-top: 5px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1200px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.aboutus{
    padding-top: 100px;
    margin-bottom: 30px;
}
.aboutus .col-3{
    background-color: rgb(42, 83, 129);
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 10px 0px rgb(75, 69, 69);
    cursor: pointer;
    transition: transform 0.5s;
}
.aboutus .col-3 img{
    width: 100px;
    height: 80px;
    margin-top: 20px;
    border-radius: 50%;
}
.aboutus .col-3:hover{
    transform: translateY(-10px);
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: white;
}
.aboutus .col-3 h3{
    font-weight: 600;
    color: white;
    font-size: 16px;
}
aside{
    flex-basis: 50%;
    width: 400px;
    margin: auto;
    background-color: rgb(42, 83, 129);
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgb(75, 69, 69);
    cursor: pointer;
    transition: transform 0.5s;
}
aside h1{
    color: white;
    font-size: 30px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin: auto;
    margin-top: 8px;
}
aside img{
    width: 150px;
    margin-top: 20px;
    border-radius: 50%;
}
aside:hover{
    transform: translateY(-10px);
}
aside p{
    font-size: 20px;
    font-weight: 700;
    margin: 12px 0;
    color: black;
    text-align: center;
}
aside h3{
    font-weight: bolder;
    color: whitesmoke;
    font-size: 25px;
}
footer{
    background-color: black;
    margin-top: 30px;
    padding-top: 10px;
}
.copyright{
    color: white;
    text-align: center;
    line-height: 70px;
}